html {
    /* max-width: 1750px; */
    margin: auto;
    scroll-behavior: smooth;
}

/* * {
    box-sizing: border-box;
  } */

body.dark {
    --text: white;
    --background: black;
}

body.light {
    --text: dark;
    --background: white;

}

/* body h1 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
} */

body {
    color: var(--text);
    background: var(--background);

    /* background-color: aquamarine; */
    /* background-image: url('../img/backgrounds/purple-blue.png'); */
    /* background-image: linear-gradient(white,grey,black); */
    /* backdrop-filter: blur(100%); */
    /* background-repeat: repeat; */
    /* object-fit: cover; */

    padding: auto;
    margin: auto;
    /*
    max-width: 1350px;
    min-width: 450px;
    */
    /* padding-bottom: 80px; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: .025em;
    cursor: default;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    /* color: var(--text); */
    color:black;
    cursor: pointer;
    /* padding: 20px; */
    border-radius: 10px;
    font-size: 48px;
    /* filter: drop-shadow(0 0 1px rgb(0, 0, 0)); */
    opacity: 40%;
  }
  
  #myBtn:hover {
    color: #555; 
    background-color: white;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    /* Add a dark-grey background on hover */
    opacity: 100%;
  }

.hamburger-mobile {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 15px;
    /* border-bottom: .5px solid; */
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    background-color: white;
    cursor: pointer;
    visibility: hidden;
    display: none;
    box-shadow: 0 1px 20px -1px rgb(0 0 0 / 32%);
  }

.hamburger {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 15px;
    /* border-bottom: .5px solid; */
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 20px -1px rgb(0 0 0 / 32%);
}

.hamburger img, .hamburger-mobile img {
    /* padding: 0; */
    /* padding-right: 10px; */
    
    /* margin: auto; */
    /* filter: invert(10); */
    padding: 12px;
    max-height: 4vh;
    display: flex;
    align-items: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    /* width: 240px;  */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-right: 15px; */
    padding-top: 55px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-decoration: none;

  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding-left: 15px;
    padding-top: 8px;
    text-decoration: none;
    font-size: 24px;
    /* color: #818181; */
    display: block;
    transition: 0.3s;

  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    /* color: #f1f1f1; */
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    /* position: absolute; */
    top: 30;
    right: 25px;
    font-size: 36px;
    /* margin-left: 50px; */
    /* display: none; */
  }

  .sidenav ul {
    list-style: none;
    /* font-size: 30px; */
    /* letter-spacing: .23rem; */
    line-height: 40px;
    padding: 0;
    text-transform: uppercase;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    /* margin-left: 250px; */
    /* padding: 20px; */
  }

  .active {
    font-weight: bold;
    font-style:italic;
    /* padding: 18px; */
    /* background-color: white; */
    /* color: rgb(68, 163, 68); */
}

.active:hover {
    font-style: normal;
    font-weight: normal;
    /* background-color: black; */
    /* color: rgb(68, 163, 68); */
}


  blockquote {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 0 1em; */
    color: #777;
    /* border-left: .25em solid #ddd; */
}


.intro {
    background-image: url('../img/about/occ-img1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* object-fit: scale-down; */
    padding: 105px;

    color: white;
    box-shadow: 0 1px 20px -1px rgb(0 0 0 / 32%);
}

.intro h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    filter: drop-shadow(2px 2px #111);
}

.intro h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    filter: drop-shadow(2px 2px #111);
}

.title {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
    padding: 15px;
}

.title h1 {
    padding: auto;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 60px;
    /* column-span: all; */
    text-align: center;
}

.title p {
    font-size: 18px;
    /* text-align: justify; */
    text-align: center;
    /* padding-bottom: 20px; */
    margin: auto;
    /* padding-bottom: 30px; */
    /* max-width: 900px; */
    margin-left: auto;
    margin-right: auto;
}

.iframe-container {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    padding-top: 56.35%; 
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .item iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 1px 20px -1px rgb(0 0 0 / 32%); */
    /* border: 1px solid; */
    /* border-radius: 25px; */
  }


.one-column {
    /* max-width: 800px; */
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.one-column p {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.one-column h2 {
    text-align: center;
    margin-top: auto;
    /* break-before: column; */
    break-before: auto;
    margin-bottom: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.two-columns {
    column-count: 2;
    /* column-gap: 50px; */
    column-width: 5px;
    /* padding: 15px; */

    max-width: 1850px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.two-columns iframe {
    max-width: -webkit-fill-available;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
}

.three-columns {
    padding: 15px;
    /* padding-bottom: 50px; */
    column-count: 3;
    column-gap: 50px;
    /* max-width: fit-content; */
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.three-columns h2 {
    text-align: center;
    margin-top: auto;
    /* break-before: column; */
    break-before: auto;
    margin-bottom: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


.four-columns {
    padding: 15px;
    /* padding-bottom: 50px; */
    column-count: 4;
    /* column-gap: 50px; */
    /* max-width: fit-content; */
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.four-columns h1, .two-columns h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.two-columns h2 {
    text-align: center;
    margin-top: auto;
    /* break-before: column; */
    break-before: auto;
    margin-bottom: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.four-columns h2, .five-columns h2 {
    text-align: center;
    margin-top: auto;
    /* break-before: column; */
    margin-bottom: auto;
    padding-bottom: 6px;
    border-bottom: 1px solid;
    
}

.four-columns p {
    /* margin-bottom: 40px; */
    margin: 5px;
    font-size: 18px;
    text-align: justify;
    /* text-indent: 30px; */
}

.five-columns {
    columns: 5;
    padding: 15px;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}



.our-location {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 650px; */
    /* color:white; */

    /* background-image: url('../img/backgrounds/sun-in-water.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: palevioletred; */
}

.our-location h1 {
    font-size: 50px;
    text-align: center;
    column-span: all;
    margin: 5px;
    /* filter: drop-shadow(1px 2px #111); */
}

.our-location p {
    text-align: center;
    /* filter: drop-shadow(1px 1px #111); */
}

.our-location h2 {
    /* font-size: 30px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin:auto;
    /* filter: drop-shadow(1px 1px #111); */
    

    /* margin-top: auto; */
    /* break-after: column; */
}

.our-location img, .two-columns img {
    max-width: 100%;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item, .item-big {
    break-before: column;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 2px black;
    background-color: white;
    /* box-shadow: 15px 15px 0 -4px white, 15px 15px black; */
}

.item img {
    max-height: 15vh;
    width: 100%;
    object-fit: cover;
    /* box-shadow: inset 3px #000000; */
}

.item-big img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    /* box-shadow: inset 3px #000000; */
}


.item-wide {
    break-before: column;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 2px black;
    background-color: white;
    
    /* background-image: url('../img/backgrounds/lan2.jpg'); */

}

.item-big h2 {
    margin-left: auto;
    margin-right: auto;
}

.item-wide img {
    max-height: 90vh;
    width: 100%;
    object-fit: cover;
    /* box-shadow: inset 3px #000000; */
}

.text-on-img {
    position: inherit;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px;
}

.text-on-img-high {
    position: inherit;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px;
}

.subtitle {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Sharp Grotesk',sans-serif;
    color: #000;
    font-size: 11px;
    /* line-height: 11px; */
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase;
    /* border-color: #fff; */
    background-color: #fff;
    max-width: 500px;
    /* min-width: 300px; */
    /* width: max-content; */
    margin-left: auto;
    margin-right: auto;
}

.text-on-img p {
    display: block;
    margin: 5px;
}

#our-services {
    background-image: url('../img/backgrounds/watercolor.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our-services, .our-history {
    padding: 15px;
    /* margin-top: 50px; */
    /* column-count: 2; */
    max-width: 1800px;
    margin: auto;
}

.our-services h1 {
    padding: auto;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.our-services h2 {
    padding: 5px 0px;
    /* margin: 0; */
    /* margin-top: 20px; */
    font-size: 30px;
    text-align: center;
}

.our-services p {
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin: 5px;
}


.statement {
    columns: 1;
    /* padding: 75px 25px; */
    /* margin-top: 50px; */
    padding: 15px;
    column-gap: 50px;
    column-width: 5px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.statement h1 {
    padding: auto;
    font-size: 50px;
    column-span: all;
    text-align: center;
    margin: 5px;
}

.statement p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}

.statement a {
    text-align: center;
}


.meet-pastors {
    padding: 15px;
    /* margin-top: 50px; */
    /* column-count: 3;
    column-gap: 50px;
    column-width: auto; */
    /* max-width: 1650px; */
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/backgrounds/sun-in-water.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.meet-pastors h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: auto;
    /* break-before: column; */
    break-before: auto;
}

.meet-pastors h3 {
    margin: 1px;
    text-align: center;
    font-style: italic;
    margin-top: auto;
}

.meet-pastors p {
    padding-top: 0;
    /* padding-bottom: 20px; */
    /* max-width: 420px; */
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    /* text-align: start; */
    font-size: 18px;
    text-indent: 30px;
    line-height: 1.5em;
}

.meet-pastors img {
    padding: 20px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 150vh; */
    /* width: 400px; */
    max-height: 40vh;
    max-width: 370px;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

.pastor {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.our-ministries {
    /* padding: 75px 25px; */
    /* padding: 25px 25px; */
    padding: 15px;
    /* column-count: 2; */
    /* column-gap: 120px; */
    /* column-rule: 1px solid; */
    /* column-rule-style: solid;
    column-rule-width: 1px; */
    /* max-width: 1400px; */
    /* width: max-content; */
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;

    background-image: url('../img/backgrounds/family.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.our-ministries h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.our-ministries h2 {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    break-before: always;
}

.our-ministries p {
    /* padding: 10px 0px; */
    font-size: 18px;
    line-height: 1.5rem;
    /* text-align: justify; */
    margin-top: 15px;
    /* margin-bottom: 100px; */
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    /* line-break: anywhere; */
}

.our-ministries h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    /* text-align: justify; */
}



.prayers {
    /* padding: 75px 25px; */
    /* padding: 25px 25px; */
    padding: 15px;
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;

    background-image: url('../img/backgrounds/lanscape.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.prayers h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.prayers h2 {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
}

.prayers p {
    padding: 10px 0px;
    font-size: 18px;
    margin-top: auto;
    /* text-align: justify; */
    text-align: center;
}


.submit-prayer {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    background-color: var(--background);
    /* padding: 20px; */

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 30px; */
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    /* background-color: #f8f8f8; */
    font-size: 16px;
    resize: none;
  }


.offerings {
    /* padding: 75px 25px; */
    /* padding: 25px 25px; */
    padding: 15px;
    /* max-width: 800px; */
    margin-left: auto;
    margin-right: auto;

    background-image: url('../img/backgrounds/abstrac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.offerings a:link, a:visited {
    text-decoration: none;
}

.offerings h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
    margin: 0;
}

.offerings h2 {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
}

.offerings p {
    /* padding: 10px 0px; */
    font-size: 18px;
    text-align: center;
}

.offerings img {
    max-width: 100%;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}


.upcoming-events {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-image: url('../img/backgrounds/landscape.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.upcoming-events h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.upcoming-events h2 {
    font-size: 35px;
    /* margin: 0; */
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    /* border-bottom: 1px solid; */
}

.upcoming-events p {
    padding: 10px 0px;
    font-size: 20px;
    /* text-align: center; */
}

.upcoming-events img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}


.upcoming-events blockquote, .our-facilities blockquote {
    font-size: 18px;
    margin: 5px;
}

.upcoming-events h3 {
    font-size: 30px;
    text-align: center;
    /* margin: 0; */
    margin-top: 0;
    margin-bottom: 10px;
}

/* .upcoming-events iframe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */


.our-facilities {
    /* padding: 75px 25px; */
    /* padding: 25px 25px; */
    /* column-count: 3; */
    column-gap: 75px;
    /* max-width: 1600px; */
    margin-left: auto;
    margin-right: auto;
    /* column-rule-style: solid;
    column-rule-width: 1px; */

    background-image: url('../img/backgrounds/sun-in-water.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.our-facilities h1 {
    font-size: 50px;
    margin: 10px;
    column-span: all;
    text-align: center;
}

.our-facilities h2 {
    margin-bottom: 10px;
    font-size: 30px;

}


.our-facilities p {
    font-size: 20px;
    margin: 5px;
    text-align: justify;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.our-facilities h3 {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

.our-facilities img {
    max-width: 100%;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    /* break-before: column; */
}

.our-staff h3 {
    text-align: center;
    font-style: italic;
    margin: 5px;
}


.img-hover {
    position: relative;
    /* width: 50%; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-hover:hover .overlay {
    opacity: 1;
  }


  .footer {
    /* width: 100%; */
    padding-right: 10%;
    padding-left: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    /* border-top: 1px solid; */
    box-shadow: 0 1px 20px -1px rgb(0 0 0 / 32%);
    color: var(--text);
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer ul {
    list-style: none;

    padding-left: 0;
    /* text-align: center; */
    padding-top:10px;
    padding-bottom: 10px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

 }

 .footer li {
    padding: 10px;
    width: max-content;
 }

 .footer a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.footer a:hover {
    /* font-weight: bold; */
}

.foot-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.more-links {
    display: none;
}

.links, .social-links, .connect {
    flex: 1 auto;
    padding: 15px;
}

.links li, .more-links li, .social-links li, .connect li {
    flex: 1 auto;
    /* width: max-content; */
}

.foot-buttons h1 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 0;
    border-bottom: 1px solid currentColor;
    margin: 15px 1px .75em;
    display: inline-block;
    margin-bottom: 5px;
}

.footer img {
    height: 12vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* .footer {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(9, 9, 9);
    color: white;
    cursor: pointer;
    justify-content: center;
}

.footer ul {
    list-style: none;
    text-align: center;
    display: flex;
    margin: 50px;
    padding: 0;
    text-transform: uppercase;
}

.footer li {
    padding: 10px;
}

.footer a:link, .footer a:visited {
    text-decoration: none;
    color: var(--text);
}

.footer a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.footer img {
    max-height: 10vh;
    padding: 10px;
} */


/* @media screen and (max-width: 1350px) {
    .four-columns, .two-columns {
        columns: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    .item, .item-big {
        break-before: avoid-column;
    }

    .four-columns h2, .two-columns h2, .our-location h2 {
        break-before: avoid-column;
        margin-bottom: auto;
    }

    
    
} */



@media screen and (max-width: 1250px) {
    .footer ul {
        display: inline;
        padding: 0;
    }

    .meet-pastors {
        columns: 1;
        margin-left: auto;
        margin-right: auto;
    }

    .three-columns, .one-column, .five-columns {
        columns: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    .item img, .item-big img, .item-wide img { 
        /* object-fit: scale-down; */
    }

    .four-columns, .two-columns {
        columns: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
    }

    .item, .item-big, .item-wide {
        break-before: avoid-column;
        /* padding: 2px; */
    }

    .four-columns h2, .three-columns h2, .two-columns h2, .our-location h2 , .one-column h2, .our-facilities h2 {
        break-before: avoid-column;
        /* margin-bottom: auto; */
    }
}

@media (max-width: 1000px) {

    .title h1 {
        font-size: 40px;
        padding: 10px;
    }

    body h1 {
        font-size: 30px;
        /* padding: 10px; */
    }

    body h2 {
        font-size: 25px;
        /* margin-top: 40px; */
        text-align: center;
        /* padding: 10px; */
        margin: auto;
    }

    .intro {
        padding: 55px;
    }

    .intro h1 {
        font-size: 40px;
    }

    .intro h2 {
        font-size: 20px;
    }

    .hamburger {
        display: none;
        visibility: hidden;
    }

    .hamburger-mobile {
        display: flex;
        visibility: visible;
    }

    .sidenav a {
        padding-left: 35px;
        padding-top: 15px;
    }

    /* .our-services iframe {
        height: 240px;
    } */

    /* .upcoming-events iframe {
        max-height: 600px;
    } */


    .text-on-img, .text-on-img-high {
        position: inherit;
        bottom: 0;
        margin-bottom: 0;
        padding: 10px;
    }

    .overlay  {
        display: none;
    }
    
}


  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (prefers-color-scheme: dark) {
    
    .hamburger, .hamburger-mobile {
        
        background-color: #111;
    }



    .sidenav {
        background-color: rgb(29,29,29);
    }

    .sidenav a:link, .sidenav a:visited {
        color: darkgrey;
        text-decoration: none;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .title a:link, a:visited, .item a:link, .item a:visited {
        color: var(--text);
    }

    .title a:hover, .item a:hover, .overlay, .footer li:hover {
        background-color: white;
        color: rgb(29,29,29);
        text-decoration: none;
    } 

    .overlay p {
        color: rgb(29,29,29);
    }


    .item, .item-big, .item-wide {
        background-color: #111;
        border: 1px solid white;
    }

    .subtitle {
        background-color: #111;
        color: white;
        border: 1px solid white;
    }


}

@media screen and (prefers-color-scheme: light) {
    
    .hamburger img, .hamburger-mobile img, .footer img {
        filter: invert(10);
    }
    
    .sidenav {
        background-color: rgb(29,29,29);
    }

    .sidenav a:link, .sidenav a:visited {
        color: darkgrey;
        text-decoration: none;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }


    .title a:link, a:visited, .item a:link, .item a:visited {
        color: var(--text);
    }

    .title a:hover, .item a:hover, .overlay, .footer li:hover   {
        background-color: rgb(29,29,29);
        color: white;
        text-decoration: none;
    } 


    
    /* body a:link, a:visited {
        color: var(--text);
    }

    body a:hover   {
        background-color: rgb(29,29,29);
        color: white;
        text-decoration: none;
    } */




}