html {
    /* max-width: 1750px; */
    margin: auto;
    scroll-behavior: smooth;
}

/* * {
    box-sizing: border-box;
  } */

body.dark {
    --text: white;
    --background: black;
}

body.light {
    --text: dark;
    --background: white;

}

body {
    color: var(--text);
    background: var(--background);
    padding: auto;
    margin: auto;
    /*
    max-width: 1350px;
    min-width: 450px;
    */
    padding-bottom: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: .025em;
    cursor: default;
}

blockquote {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 0 1em; */
    color: #777;
    /* border-left: .25em solid #ddd; */
}

.topnav.scrolled a:hover {
    /* color: #10d9e4; */
    font-weight: bold;
  }


.topnav a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.topnav a:hover {
    color: var(--text);
    font-weight: bold;
}

.topnav {
    border-top-style: solid;
    border-bottom-style: solid;
    font-size: auto;
    /* padding: revert; */
    text-align: center;
    text-align: -webkit-center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;

    /* white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch; */

    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 0;
    top: 0;
    width: 100%;
    scrollbar-color: var(--scrollbar) transparent;

    visibility: visible;
    /* display: none; */
}

.topnav::-webkit-scrollbar {
    display: none;
  }


.topnav ul {
    padding-left: 0;
    margin: 5px;
    padding: 5px;
}

.topnav li {
    display: inline;
}

.topnav a {
    padding: 5px 12px 5px 12px;
}



.topnav-inline {
    /* display: inline; */
    display: none;
    transition: .2s ease all;
}

.topnav-inline ul {
    padding-left: 0;
    margin: 5px;
    padding-right: 65px;
    padding-top: 5px;
}

.topnav-inline li {
    display: flex;
    /* background-color: black; */
    /* color: white; */
    padding: 5px;
    flex-direction: row-reverse;
}

.topnav-inline a {
    padding: 5px 12px 5px 12px;
}

.topnav-inline a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.topnav-inline a:hover {
    color: var(--text);
    font-weight: bold;
}


.hamburger {
    /* display: none; */
    /* border-top-style: solid;
    border-bottom-style: solid;
    font-size: auto;
    text-align: center;
    text-align: -webkit-center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none; */
    /* padding: 10px; */

    position: absolute;
    /* transition: .2s ease all; */
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: .9rem;
    right: 2rem;
    border-bottom: none;

    visibility: hidden;
}

.hamburger a:link, a:visited {
    font-size: 30px;
    text-decoration: none;
    /* float: right; */
    padding-right: 10px;
    right: 10px;
}


/* .paddles {
}
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
} */






.about {
    padding: 25px 25px;
    column-count: 2;
    column-gap: 50px;
    column-width: 5px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.about h1 {
    padding: auto;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.about p {
    font-size: 18px;
    text-align: justify;
    padding-bottom: 20px;
    margin: 0;
}

.about img, .upcoming-events img {
    /* padding: 20px 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 275px; */
    max-width: 100%;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

.statement {
    columns: 1;
    /* padding: 75px 25px; */
    padding: 25px 25px;
    column-gap: 50px;
    column-width: 5px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.statement h1 {
    padding: auto;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.statement p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}

.statement a {
    text-align: center;
}


/* .statement a:link, a:visited  */
body a:link, a:visited {
    /* text-decoration:overline; */
    color: var(--text);
}

/* .statement a:hover */
body a:hover {
    text-decoration: none;
    font-weight: bold;
}


.our-services {
    /* padding: 75px 15px; */
    padding: 25px 25px;
    column-count: 2;
    max-width: max-content;
    /* column-gap: 50px; */
    margin: auto;
}

.our-services h1 {
    padding: auto;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.our-services h2 {
    padding: 5px 0px;
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.our-services p {
    font-size: 20px;
    text-align: center;
}

.meet-pastors {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    column-count: 3;
    column-gap: 60px;
    column-width: 100px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.meet-pastors h1 {
    padding-bottom: 20px;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.meet-pastors h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;

}

.meet-pastors h3 {
    margin: auto;
    text-align: center;
    font-style: italic;

}

.meet-pastors p {
    padding-top: 0;
    /* padding-bottom: 10px; */
    text-align: justify;
    font-size: 20px;
    text-indent: 30px;
}

.meet-pastors img {
    padding: 20px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 180px;
    max-width: 150px;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}


.what-to-expect {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    column-count: 4;
    column-gap: 50px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* column-width: 200px; */  
}

.what-to-expect h1 {
    padding-bottom: 20px;
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.what-to-expect h2 {
    /* font-size: 30px; */
    text-align: center;
    margin-top: auto;
    /* padding-top: 0;
    margin-top: 0; */
    /* break-before: column; */
}

.what-to-expect p {
    /* padding-top: 0;
    padding-bottom: 10px; */
    /* text-align: justify; */
    margin-bottom: 60px;
    font-size: 20px;
    /* break-after:left; */
}

.what-to-expect h3 {
    /* padding: auto; */
    /* font-size: 20px; */
    font-style: italic;
    text-align: justify;
}


.our-ministries {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    column-count: 2;
    column-gap: 80px;
    /* column-rule-style: solid;
    column-rule-width: 1px; */
    /* max-width: 1400px; */
    /* width: max-content; */
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.our-ministries h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.our-ministries h2 {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    break-before: always;
}

.our-ministries p {
    /* padding: 10px 0px; */
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 100px;
    /* line-break:anywhere; */
}

.our-ministries h3 {
    padding: auto;

    font-size: 20px;
    font-style: italic;
    text-align: justify;
}


.staff {
    padding: 25px 25px;
    /* max-width: 1200px; */
    width: max-content;
    margin: auto;
}

.staff h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}


.team {
    border: 1px solid;
    max-width: max-content;
    /* margin: auto; */
    padding: 20px;
    margin: 15px;
}

.team h2 {
    margin: 0;
    text-align: center;
    column-span: all;
    font-size: 30px;
}

.team-of-teachers {
    /* display: flex; */
}

.teacher {
    padding: 15px; 
    text-align: center;
}

.teacher h3 {
    margin: 0;
}

.teacher h4 {
    margin: 0;
}

.teacher img {
    max-width: 220px;
    margin-top: 10px;
}


.prayers {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.prayers h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.prayers h2 {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
}

.prayers p {
    padding: 10px 0px;
    font-size: 20px;
    /* text-align: justify; */
    text-align: center;
}


.offerings {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.offerings h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.offerings h2 {
    margin-top: auto;
    font-size: 30px;
    text-align: center;
}

.offerings p {
    /* padding: 10px 0px; */
    font-size: 20px;
    text-align: center;
}

.offerings img {
    max-width: 100%;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}


.upcoming-events {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.upcoming-events h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.upcoming-events h2, .our-facilities h2 {
    font-size: 35px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.upcoming-events p {
    padding: 10px 0px;
    font-size: 20px;
    /* text-align: center; */
}

.upcoming-events blockquote, .our-facilities blockquote {
    font-size: 18px;
    margin: 5px;
}

.upcoming-events h3 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.upcoming-events iframe {
    text-align: center;
}


.our-facilities {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    column-count: 3;
    column-gap: 75px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* column-rule-style: solid;
    column-rule-width: 1px; */
}

.our-facilities h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.our-facilities p {
    font-size: 20px;
    margin: 5px;
    text-align: justify;
}

.our-facilities h3 {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

.our-facilities img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}


.find-us {
    /* padding: 75px 25px; */
    padding: 25px 25px;
    padding-bottom: 500px;
}

.find-us a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.find-us h1 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

.find-us h2 {
    /* padding: 20px 0px;
    font-size: 30px; */
    margin-top: auto;
    text-align: center;
    text-decoration: none;
}

.find-us p {
    padding: 10px 0px;
    font-size: 20px;
    text-align: justify;
}

.find-us h3 {
    padding: auto;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* COLOR: red; Set a background color */
    color: var(--text); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 40px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    opacity: 40%;
  }
  
  #myBtn:hover {
    color: #555; /* Add a dark-grey background on hover */
    opacity: 100%;
  }


/*
- will revisit footer -
footer {
    width: 100%;
    bottom: 0;
    position: relative;
}

footer ul {
    display: block;
    padding-left: 0;
    list-style: none;
}

footer li {
    text-align: center;
    font-size: 1em;
}

footer a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

footer a:hover {
    color: var(--text);
    font-weight: bold;
}
*/

/* 
- will revisit footer -
.footer-basic {
    padding:40px 0;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    margin-bottom:0;
  }
  */

  @media (max-width: 1560px) {
    /* html {
        max-width:screen;
    } */

   body {
        text-align: center;
    }

    .what-to-expect {
        columns: 2;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }

.what-to-expect img {
    /* padding: 20px 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 206px;
    max-width: 100%;
    height:auto;
    overflow:hidden;
    padding-bottom: 20px;
    } 
}


@media (max-width: 1450px) {
    /* html {
        max-width:screen;
    } */

   body {
        text-align: center;
    }

    .meet-pastors, .about, .our-services, .what-to-expect, .our-ministries, .upcoming-events, .our-facilities, .find-us {
        columns: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    .meet-pastors img, .about img, .our-services img, .what-to-expect img, .our-ministries img, .upcoming-events img, .our-facilities img {
    /* padding: 20px 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: 100%;
    height:auto;
    overflow:hidden;
    /* padding-bottom: 20px; */
    } 

    /* .topnav-inline {
        display: none;
        visibility: hidden;
    } */
}

@media (max-width: 1100px) {
    .topnav {
        visibility: hidden;
        display: none;
    }

    .hamburger {
        visibility: visible;
    }
}


/* @media (max-width: 1300px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 900px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .topnav {
        
    }

    .about, .our-services, .meet-pastors, .what-to-expect, .our-ministries, .upcoming-events, .our-facilities, .find-us {
        columns: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .topnav {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
    }

}


@media (max-width: 414px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 380px;
        padding: 15px;
        margin: auto;
        font-size: auto;
    }

    .about, .our-services, .meet-pastors, .what-to-expect, .our-ministries, .upcoming-events, .our-facilities, .find-us {
        columns: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 50%;
    }
} */